<%- include('header'); -%>
<h2>About us</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsum at doloribus vitae quae. Sapiente quasi, magnam rerum consequuntur quaerat dicta quod, quae optio quidem corporis recusandae consectetur suscipit iusto!</p>
<%- include('footer'); -%>